{% extends 'base.html.twig' %}

{% block title %}StagePilot{% endblock %}
{% block header %}
        <a href="{{ path('app_register') }}" class="nav-item btn" style="background-color: #FFDAB9;margin-right: 10px;">S'inscrire</a>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row g-4">
            {% for stage in stages %}
                <div class="col-md-3 mb-4">
                    <div class="card shadow-sm" style="width: 100%;">
                        <div class="card-body">
                            <h3 class="card-title">{{ stage.libelle }}</h3>
                            <p class="card-text">{{ stage.description }}</p>
                        </div>
                        <div class="card-footer text-muted text-center">
                            Nombre de participants : {{ stage.stagiaires|length }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

