{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créez un compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}
{% endblock %}
